#portfolio-section {
  padding: 80px 15px;
}
#portfolio-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#portfolio-section .title .square {
  background: #ffeded;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  position: absolute;
  top: 20px;
}
#portfolio-section .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #16171b;
  letter-spacing: 3px;
  z-index: 5;
}
#portfolio-section .portfolio-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(150px , 4 );
}
#portfolio-section .portfolio-container .box {
  background: black;
  display: block;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  height: 200px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
}
#portfolio-section .portfolio-container .box:hover {
  background: rgba(255, 255, 255, 1);
  /* -webkit-box-shadow: 0px 0px 36px -2px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 36px -2px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 36px -2px rgba(201, 201, 201, 1); */
}

#portfolio-section .portfolio-container .box.image1 {
  height: auto;
  grid-column: 1/3;
  grid-row: 1/2;
}
#portfolio-section .portfolio-container .box.image1 .image {
  background: url("https://cdn.dribbble.com/users/1846841/screenshots/5298824/k_r_a_i.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
}
#portfolio-section .portfolio-container .box .image .hover-bg {
  background: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

#portfolio-section .portfolio-container .box:hover .image .hover-bg {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
height: 100%;
}



#portfolio-section
  .portfolio-container
  .box
  .image
  .hover-bg
  .title
  .text {
  background: black;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translate3d(0, 400px, 0);
  transition: all 0.5s ease-out;
  opacity: 0;
}
#portfolio-section
  .portfolio-container
  .box:hover
  .image
  .hover-bg
  .title
  .text {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
/*  */

#portfolio-section .portfolio-container .box.image2 {
    height: auto;
    grid-column:3/4;
    grid-row: 1/4;
  }
  #portfolio-section .portfolio-container .box.image2 .image {
    background: url("https://cdn.dribbble.com/users/1200964/screenshots/3812962/todo_concept_iphonex_30fps.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
 
#portfolio-section .portfolio-container .box.image3 {
    grid-column:1/2;
    grid-row: 2/4;
  }
  #portfolio-section .portfolio-container .box.image3 .image {
    background: url("https://cdn.dribbble.com/users/4026159/screenshots/7155837/media/a96418aca0ce97e1487e7478828b927a.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
#portfolio-section .portfolio-container .box.image4 {
    grid-column:2/3;
    grid-row: 2/3;
  }
  #portfolio-section .portfolio-container .box.image4 .image {
    background: url("https://cdn.dribbble.com/users/1615730/screenshots/7151375/media/0385284cb612e52b1d5c3ed1b695c723.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
 
#portfolio-section .portfolio-container .box.image5 {
    grid-column:1/2;
    grid-row: 3/4;
  }
  #portfolio-section .portfolio-container .box.image5 .image {
    background: url("https://cdn.dribbble.com/users/14268/screenshots/5418845/northface-2.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
 
#portfolio-section .portfolio-container .box.image6 {

    grid-column:1/3;
    grid-row: 3/5;
  }
  #portfolio-section .portfolio-container .box.image6 .image {
    background: url("https://cdn.dribbble.com/users/1615730/screenshots/7151375/media/0385284cb612e52b1d5c3ed1b695c723.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
 
#portfolio-section .portfolio-container .box.image7{

    grid-column:2/4;
    grid-row: 3/5;
  }
  #portfolio-section .portfolio-container .box.image7 .image {
    background: url("https://cdn.dribbble.com/users/13307/screenshots/5603218/web_site_design_online_education_courses_bootcamp_flat.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

  }
 
/* Tablets */
@media only screen and (max-width:960px){

}


/* Phones */
@media only screen and (max-width:767px){
  #portfolio-section .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* grid-template-rows: repeat(150px , 4 ); */
  }
  #portfolio-section .portfolio-container .box{
    width:300px;
   flex-grow: wrap;

  }
}